.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .monitor {
    position: relative;
    display: flex;
    background-image: url(../assets/tela_monitor_inicial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
    width: 900px;
  }
  
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(../assets/gradiente.png);
    top: 137px;
    left: 148px;
    height: 450px;
    width: 619px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .window {
  position: absolute;
  top: 40px;
  width: 211px;
  height: 141px;
  flex-shrink: 0;
  }
  
  .login{
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 190px;
    background-color: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
    box-sizing: border-box;
  }
  
  form {
    position: absolute;
    bottom: 43px;
    left: 70px;
  }
  
  .logintext{
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 30px;
    left: 50px;
    }  
  
  input {
  text-align: left;
  font-family: 'Pixelify Sans';
  font-size: 10px;
  width: 150px;
  height: 20px;
  border-radius: none;box-shadow: inset -1px -1px #ffffff,
  inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
  inset 2px 2px #808080;
  margin: 0;
  }
  
  p{
  font-family: 'Pixelify Sans';
  margin: 0;
  }
  
  .cadastro{
    position: absolute;
    box-sizing: border-box;
    border: none;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a,
      inset 1px 1px #ffffff, inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
    min-width: 100px;
    min-height: 23px;
    text-align: center;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 15%;
    font-family: 'Pixelify Sans';
    font-weight: bold;
    font-size: 13px;
   }
    
   .cadastro:not(:disabled):active {
      box-shadow: inset -1px -1px #ffffff,
        inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
        inset 2px 2px #808080;
    }
    
    .cadastro:focus {
      outline: 1px dotted #000000;
      outline-offset: -4px;
    }
    
    :disabled {
      color: #808080;
      text-shadow: 1px 1px 0 #ffffff;
    }
    
    :disabled + label {
      color: #808080;
      text-shadow: 1px 1px 0 #ffffff;
    } 
  
    .entra{
      position: absolute;
      box-sizing: border-box;
      border: none;
      background: #c0c0c0;
      box-shadow: inset -1px -1px #0a0a0a,
        inset 1px 1px #ffffff, inset -2px -2px #808080,
        inset 2px 2px #dfdfdf;
      min-width: 65px;
      min-height: 23px;
      text-align: center;
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 15%;
      font-family: 'Pixelify Sans';
      font-weight: bold;
      font-size: 13px;
      left: 110px;
      }
    
    .entra:not(:disabled):active {
      box-shadow: inset -1px -1px #ffffff,
        inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
        inset 2px 2px #808080;
    }
    
    .entra:focus {
      outline: 1px dotted #000000;
      outline-offset: -4px;
    }
    
    :disabled {
      color: #808080;
      text-shadow: 1px 1px 0 #ffffff;
    }
    
    :disabled + label {
      color: #808080;
      text-shadow: 1px 1px 0 #ffffff;
    } 
  
    .buttons{
      bottom: 34px;
      left: 60px;
    }