.portfolio {
    width: 500px;
    height: 315px;
    box-shadow: inset -1px -1px #0a0a0a,
      inset 1px 1px #ffffff, inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
    background: #c0c0c0;
    padding: 3px;
  }
  
  .barra {
    background: linear-gradient(
      90deg,
      #000080,
      #1084d0
    );
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto-titulo-barra {
    margin-left: 10px;
    font-family: 'Pixelify Sans';
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    margin-right: 24px;
  }
  
  .controles-titulo-barra {
    display: flex;
  }
  
  .controles-titulo-barra button {
    padding: 0;
    display: block;
    min-width: 14px;
    min-height: 12px;
  }
  
  .controles-titulo-barra button:focus {
    outline: none;
  }
  
  .controles-titulo-barra button[aria-label="Minimize"] {
    margin-left: 1px;
    background-image: url("../assets/Button\ Minimize.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: absolute;
    background-position: center;
  }
  
  .controles-titulo-barra button[aria-label="Maximize"] {
    margin-left: 1px;
    background-image: url("../assets/Button\ Maximize.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: absolute;
    background-position: center;
  }
  
  .controles-titulo-barra button[aria-label="Close"] {
    margin-left: 1px;
    background-image: url("../assets/Button\ Close.png");
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: absolute;
    background-position: center;
  }
  
  .janela-body {
    margin: 8px;
  }

  .conteudo {
    position: absolute;
    padding: 2px;
    width: 492px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: inset -1px -1px #ffffff,
      inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
      inset 2px 2px #808080;
    left: 13px;
    top: 65px;
  }