.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .monitor {
    position: relative;
    display: flex;
    background-image: url(../assets/tela_monitor_inicial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
    width: 900px;
  }
  
  .screen {
    position: absolute;
    top: 137px;
    left: 148px;
    height: 450px;
    width: 619px;
    border-radius: 20px;
  }
.login{
    width: 500px;
    height: 500px;
    border: 8px;
    border-color: black;
}