
.body {
  font-family: 'Pixelify Sans';
  overflow: hidden;
}

.monitor {
  position: relative;
  display: flex;
  background-image: url(../assets/tela_monitor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 900px;
  width: 900px;
}

.screen {
  position: absolute;
  top: 137px;
  left: 148px;
  height: 450px;
  width: 619px;
  border-radius: 20px;
}

.taskbar {
  position: absolute;
  bottom: 0;
  width: 617px;
  height: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a,
  inset 1px 1px #ffffff, inset -2px -2px #808080,
  inset 2px 2px #dfdfdf;
  z-index: 2;
}

.time{
  display: flex;
  position: absolute;
  bottom: 4px;
  left: 542px;
  width: 72px;
  height: 23px;
  border-bottom-right-radius: 17px;
  background-color: #c0c0c0;
  box-shadow: inset -1px -1px #ffffff,
      inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
      inset 2px 2px #808080;
  text-align: center;
  font-family: 'Pixelify Sans';
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
.perfil{
  position: absolute;
  bottom: 3px;
  right: 549px;
  box-sizing: border-box;
  border: none;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  border-bottom-left-radius: 17px;
  min-width: 65px;
  min-height: 23px;
  text-align: end;
  background-image: url(../assets/start_button_logo.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15%;
  font-family: 'Pixelify Sans';
  font-weight: bold;
  font-size: 13px;
  }
  
  .perfil:not(:disabled):active {
    box-shadow: inset -1px -1px #ffffff,
      inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
      inset 2px 2px #808080;
  }
  
  .perfil:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }
  
  :disabled {
    color: #808080;
    text-shadow: 1px 1px 0 #ffffff;
  }
  
  :disabled + label {
    color: #808080;
    text-shadow: 1px 1px 0 #ffffff;
  } 

  .pop-up{
    display: none;
    position: absolute;
    right: 465px;
    bottom: 30px;
    box-sizing: border-box;
    background-color: #c0c0c0;
    height: 200px;
    width: 150px;
    box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  }

  .sair{
  position: absolute;
  bottom: 6px;
  left: 100px;
  box-sizing: border-box;
  border: none;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  min-width: 45px;
  min-height: 23px;
  text-align: center;
  font-family: 'Pixelify Sans';
  font-weight: bold;
  font-size: 13px;
  }
  
  .sair:not(:disabled):active {
    box-shadow: inset -1px -1px #ffffff,
      inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
      inset 2px 2px #808080;
  }
  
  .sair:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }
  
  :disabled {
    color: #808080;
    text-shadow: 1px 1px 0 #ffffff;
  }
  
  :disabled + label {
    color: #808080;
    text-shadow: 1px 1px 0 #ffffff;
  } 

  .titlebar_sidebar{
    background: linear-gradient(
    0deg,
    #000080,
    #1084d0
  );
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 10px;
    height: 192px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    writing-mode: vertical-rl;
    font-family: 'Pixelify Sans';
    font-size: 13px;
    }

  .my_computer {
    position: absolute;
    top: 20px;
    left: 10px;
    background-image: url(../assets/icons/my-computer-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .trashcan {
    position: absolute;
    top: 20px;
    left: 100px;
    background-image: url(../assets/icons/trashcan-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .my_documents {
    position: absolute;
    top: 90px;
    left: 10px;
    background-image: url(../assets/icons/my-documents-folder-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .calculator {
    position: absolute;
    top: 160px;
    left: 10px;
    background-image: url(../assets/icons/calculator-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .pinball {
    position: absolute;
    top: 230px;
    left: 24px;
    background-image: url(../assets/icons/pinball-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .sollitaire {
    position: absolute;
    top: 300px;
    left: 17px;
    background-image: url(../assets/icons/solitaire-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .notepad {
    position: absolute;
    top: 300px;
    left: 95px;
    background-image: url(../assets/icons/notepad-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .folder_flavia {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 90px;
    left: 95px;
    background-image: url(../assets/icons/folder-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .folder_maira {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 160px;
    left: 95px;
    background-image: url(../assets/icons/folder-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  }

  .folder_maria {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 230px;
    left: 90px;
    background-image: url(../assets/icons/folder-32x32.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-family: 'Pixelify Sans';
    font-size: 10px;
  } 

  .portfolioflavia {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 170px;
    width: 420px;
    height: 360px;
    box-shadow: inset -1px -1px #0a0a0a,
      inset 1px 1px #ffffff, inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
    background: #c0c0c0;
    padding: 3px;
  }

  .portfoliomaira {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 170px;
    width: 420px;
    height: 360px;
    box-shadow: inset -1px -1px #0a0a0a,
      inset 1px 1px #ffffff, inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
    background: #c0c0c0;
    padding: 3px;
  }
  
  .portfoliomaria {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 170px;
    width: 420px;
    height: 360px;
    box-shadow: inset -1px -1px #0a0a0a,
      inset 1px 1px #ffffff, inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
    background: #c0c0c0;
    padding: 3px;
  }

  .barra {
    background: linear-gradient(
      90deg,
      #000080,
      #1084d0
    );
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto-titulo-barra-flavia {
    margin-left: 5px;
    font-family: 'Pixelify Sans';
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
    margin-right: 24px;
  }

  .texto-titulo-barra-maira {
    margin-left: 5px;
    font-family: 'Pixelify Sans';
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
    margin-right: 24px;
  }

  .texto-titulo-barra-maria {
    margin-left: 5px;
    font-family: 'Pixelify Sans';
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
    margin-right: 24px;
  }
  
  .controles-titulo-barra {
    display: flex;
  }
  
  .controles-titulo-barra button {
    padding: 0;
    display: block;
    min-width: 14px;
    min-height: 12px;
  }
  
  .controles-titulo-barra button:focus {
    outline: none;
  }
  
  .controles-titulo-barra button[aria-label="Minimize"] {
    margin-left: 2px;
    background-image: url("../assets/icons/Button\ Minimize.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: absolute;
    background-position: baseline;
  }
  
  .controles-titulo-barra button[aria-label="Maximize"] {
    margin-left: 1px;
    background-image: url("../assets/icons/Button\ Maximize.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: absolute;
    background-position: center;
  }
  
  .controles-titulo-barra button[aria-label="Close"] {
    margin-left: 1px;
    background-image: url("../assets/icons/Button\ Close.png");
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: absolute;
    background-position: center;
  }

  .menubar{
    position: absolute;
    padding: 2px;
    top: 21px;
    width: 416px;
    height: 18px;
    box-shadow: inset -1px -1px #7f7f7f,
      inset 1px 1px #ffffff, inset -1px -1px #808080,
      inset 1px 1px #dfdfdf;
    background: #c0c0c0;
  }

  .menuoptions {
    display: inline-block;
    font-family: 'Pixelify Sans';
    font-size: 15px;
    padding-right: 15px;
    margin: auto;
  }
  
  .janela-body {
    margin: 8px;
  }

  .conteudo {
    position: absolute;
    width: 419px;
    height: 311px;
    background-color: #ffffff;
    box-shadow: inset -1px -1px #ffffff,
      inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf,
      inset 2px 2px #808080;
    left: 3px;
    top: 45px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 17px;
  }
  
  ::-webkit-scrollbar-corner {
    background: #dfdfdf;
  }
  
  ::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' viewBox='0 0 2 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0V1H1V2H2V1H1V0Z' fill='%23C0C0C0'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1V1H0V2H1V1H2V0Z' fill='white'/%3E %3C/svg%3E");
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a,
      inset 1px 1px #ffffff, inset -2px -2px #808080,
      inset 2px 2px #dfdfdf;
  }
  
  ::-webkit-scrollbar-button:vertical:start {
    height: 17px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0V1V16H1V1H15V0Z' fill='%23DFDFDF'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1V15H2V2H14V1H2Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H15H0V16H15V0H16V17Z' fill='black'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1H14V15H1V16H14H15V1Z' fill='%23808080'/%3E %3Crect x='2' y='2' width='12' height='13' fill='%23C0C0C0'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7V7H6V8H5V9H4V10H11V9H10V8H9V7H8V6Z' fill='black'/%3E %3C/svg%3E");
  }
  ::-webkit-scrollbar-button:vertical:end {
    height: 17px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0V1V16H1V1H15V0Z' fill='%23DFDFDF'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1V15H2V2H14V1H2Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H15H0V16H15V0H16V17Z' fill='black'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1H14V15H1V16H14H15V1Z' fill='%23808080'/%3E %3Crect x='2' y='2' width='12' height='13' fill='%23C0C0C0'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4V7H5V8H6V9H7V10H8V9H9V8H10V7H11V6Z' fill='black'/%3E %3C/svg%3E");
  }
  ::-webkit-scrollbar-button:horizontal:start {
    width: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0V1V16H1V1H15V0Z' fill='%23DFDFDF'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1V15H2V2H14V1H2Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H15H0V16H15V0H16V17Z' fill='black'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1H14V15H1V16H14H15V1Z' fill='%23808080'/%3E %3Crect x='2' y='2' width='12' height='13' fill='%23C0C0C0'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8V5H7V6H6V7H5V8H6V9H7V10H8V11H9V4Z' fill='black'/%3E %3C/svg%3E");
  }
  ::-webkit-scrollbar-button:horizontal:end {
    width: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0V1V16H1V1H15V0Z' fill='%23DFDFDF'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1V15H2V2H14V1H2Z' fill='white'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H15H0V16H15V0H16V17Z' fill='black'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1H14V15H1V16H14H15V1Z' fill='%23808080'/%3E %3Crect x='2' y='2' width='12' height='13' fill='%23C0C0C0'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6V11H7V10H8V9H9V8H10V7H9V6H8V5H7V4Z' fill='black'/%3E %3C/svg%3E");
  }
