body{
  background-color: black;
    background-image: url(../assets/tela_monitor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}